<html>
    <head>
        <title>from /me/</title>
    </head>

    <body>
        
        <input type="password" name="gg" id="input${1/(\w+)/\u\1/g}" class="form-control" required="required" title="ss">
        
    </body>
</html>